.square {
  flex: 1;
  height: 50px;
  background: none;
  cursor: pointer;
  border-left: 1px solid black;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hasValue {
  cursor: unset;
}
.square-winner {
  background: yellow;
}
.square:first-child {
  border: 0;
}
.board-row {
  width: 100%;
  display: flex;
  border-bottom: 1px solid black;
}
.board-row:last-child {
  border: 0;
}

.board {
  max-width: 150px;
  border: 1px solid black;
  background: white;
}
